**/node_modules/
**/dist
.git
npm-debug.log
.coverage
.coverage.*
.env
.aws
server/.env
client/.DS_Store
server/.DS_Store
server/assets/.DS_Store
.git
.vscode
.dockerignore
.gitignore
.env
.env-cmdrc
config
build
node_modules
docker-compose.dev.yaml
docker-compose.prod.yaml
docker-compose.yaml
Dockerfile
Dockerfile.dev
Dockerfile.prod
Makefile
README.md
scripts