.DS_STORE
node_modules
client/node_modules
server/node_modules
build/
.vscode
.cache/
cache/
dist/
.env
server/.env
client/.DS_Store
server/.DS_Store
server/assets/.DS_Store
scripts
cypress/cypress.config.ts
Makefile
Makefile
